<div id="header">
  <h1><a href="/blog/">Javier López</a>
    <form>
      <input type="text" id="st-search-input" class="st-search-input"/>
    </form>
  </h1>

  <a href="/blog/en.html" class="pink">[EN]</a> |
  <a href="/blog/pt.html" class="green">[PT]</a> |
  <a href="/blog/es.html" class="orange">[ES]</a> |

  {% if page.url == '/blog/results/index.html' %}
  
  <!-- Begin Results Swifttype -->
  <script type="text/javascript">
    var Swiftype = window.Swiftype || {};
    (function() {
      Swiftype.key = 'k64dV6Rm9QK4z8WnkrcN';
      Swiftype.inputElement = '#st-search-input';
      Swiftype.resultContainingElement = '#st-results-container';
      Swiftype.attachElement = '#st-search-input';
      Swiftype.renderStyle = "inline";
  
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = "//swiftype.com/embed.js";
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    }());
  </script>
  <!-- End Results Swifttype -->
  
  {% else %}
  
  <!-- Begin Swifttype -->
  <script type="text/javascript">
    var Swiftype = window.Swiftype || {};
    (function() {
      Swiftype.key = 'k64dV6Rm9QK4z8WnkrcN';
      Swiftype.inputElement = '#st-search-input';
      Swiftype.resultContainingElement = '#st-results-container';
      Swiftype.attachElement = '#st-search-input';
      Swiftype.renderStyle = "new_page";
      Swiftype.resultPageURL = "/blog/results/";
  
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = "//swiftype.com/embed.js";
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    }());
  </script>
  <!-- End Swifttype -->

{% endif %}
</div>
