/* encabezado principal */
/*@import url('http://fonts.googleapis.com/css?family=Inconsolata');*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

/* encabezados menores, listas, footer, related */
@import url('http://fonts.googleapis.com/css?family=PT+Sans');

/* p y resto de textos */
@import url('http://fonts.googleapis.com/css?family=Vollkorn');

body {
    /* background: none repeat scroll 0% 0% #010101; */
    background: #010101;
    color: #CCC0C;
    margin: 0px auto;
    width: 75%;
    max-width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

/* encabezado principal y overrides de anchors */
#header h1 {
    font: 450%/0.1em 'Metrophobic', sans-serif;
    padding-top: 3%;
    font-weight: lighter;
    text-shadow: 4px 4px 4px rgba(90,90,120,1);
}
#header h1 a { color: #fafafa; }
#header h1 a:active { outline: 0; }
#header h1 a:hover {
    color: #fafafa;
    text-decoration: none;
}
#header h1 a:hover:after { content: " [$] _"; }

/* hello world en home */
center > h1 {
    color: #111;
    padding-top: 5%;
}

/* menu */
#header > a { 
    font-size: 160%;
    text-shadow: 1px 1px 1px rgba(140, 140, 140, 1);
}

#header form {
    margin: 0;
    padding: 0;
}
.pink { color: #CC55BC; }
.green { color: #33CC33; }
.orange { color: #CCBB33; }
.pink:hover { color: #CC55BC; }
.green:hover { color: #33CC33; }
.orange:hover { color: #CCBB33; }

form input.st-search-input {
    background: url("//swiftype-assets.a.ssl.fastly.net/assets/embed_mag-034de95a159bfc65ae00bd318e8138ed.png") no-repeat scroll 7px 7px #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17) inset;
    color: #666666;
    display: block;
    font-size: 12px;
    height: 18px;
    margin-left: auto;
    outline: medium none;
    padding: 5px 9px 5px 27px;
    text-align: left;
    width: 200px;
}

/* header de entradas */
h2 {
    background: none repeat scroll 50% 50% #010101;
    color: #EEEEEE;
    font: 180%/2em 'PT Sans',sans-serif;
    margin-bottom: 0px;
    text-shadow: 1px 0px 2px #966E6E;
}

h3 {
    font-size: 180%/2em;
    color: #777;
}

h4 {
    font-size: .9em;
    color: #999;
}

h6 {
    margin-top: 1%;
    margin-bottom: 5%;
    color: #aaa;
    text-align: right;
}

a {
    text-decoration: none;
    color: #B03A44;
}

a:hover {
    text-decoration: underline;
    color: #CD0D1D;
}

li {
    padding-left: 12px;
    padding-bottom: 1em;
    color: #666;
}

ul > li {
    border-left: 4px solid #777;
    list-style: none; /* control simple alternativo al selector de abajo */
}

/* full control sobre viñetas (color, por ejemplo)
 si no es necesario se puede reemplazar por list-style arriba */
ul > li:before {
    position: relative;
    float: left;
    padding-right: .25em;
    content: "\0025AA";
    color: #333;
    font: 1.2em "Arial";
    font-weight: bold;
}

ul > li > p { margin: 0; }

p {
    color: #777;
    font: 1.2em 'Vollkorn','serif';*/
    text-align: justify;
}

pre {
    background: #000;
    border: 1px solid #CCCCCC;
    color: #fff;
    clear: both;
    padding: 2px;
}

/* decoracion primer parrafo en entradas (al usar sibling no es perfecto)
 si queres agarrar todos los casos directamente poner la primer letra en un
 span class=decorate o algo asi, aunque la variacion no queda mal tampoco */
h2 + h6 + p:first-letter,
h2 + h6 + h3 + p:first-letter,
h2 + img + p:first-letter {
    width: 1.5em;
    padding: 0 .3em;
    background: white;
    color: red;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

#content {
    position: relative;
    min-height: 500px;
    margin: 0px;
}

#content img {
    max-width: 60%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#related {
    font-family: 'PT Sans', sans-serif;
    background: #010101;
    margin: 0px;
    padding: 1%;
    width: 100%;
    padding-bottom: 1px;
    border-top: 3px groove white;
}

/* overrides listas en related */
#related li {
    border-left: 0;
    list-style: none;
}

#related li:before { content: ""; }

#disqus {
    margin: 0px;
    background: #010101;
}

#footer {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    margin-top: 0px;
    padding: 5%;
    background: #010101;
    text-align: right;
}

/* indices: listas y anchors
 aqui tambien use sibling a falta de clases especificas, en un listado aparece
 como .posts y en otro como .related-posts, pero esta ultima clase se usa en dos
 lugares diferentes en el markup */
.posts, h2 + .related-posts {
     margin-bottom: 0px;
     margin-top: 5%;
     padding-left: 0px;
     padding-right: 0px;
}

.posts li, h2 + .related-posts li {
     border-left: 0px none;
     font-family: 'PT Sans',sans-serif;
     font-size: large;
     list-style: none outside none;
     margin: 0px;
     padding-left: 1px;
     position: relative;
}

.posts li:before, h2 + .related-posts li:before {
     content: "";
}

.posts li:hover, h2 + .related-posts li:hover {
     background: none repeat scroll 0% 0% black;
     border-left: 1px solid #777777;
     padding-left: 20px;
}

.posts:hover a, h2 + .related-posts a {
     color: #B03A44;
     text-decoration: none;
}

.posts a:hover, h2 + .related-posts a:hover {
     color: #CD0D1D;
}

.posts li span, h2 + .related-posts li span {
     color: #888888;
     font-size: 1.2em;
     position: absolute;
     right: 1%;
}

.posts li:hover span, h2 + .related-posts li:hover span {
     color: #444444;
}
